.Index {
    background-color: transparent;
}
.App {
    width:95vw;
    margin: 0 auto;
}
.Navbar-Top {
    display:flex;
    justify-content: center;
    margin:.6rem;
}
.Navbar-Top nav{
    display:flex;
    margin: 1.2rem;
}
.Register {
    padding:1.2rem;
    margin:.2rem;
}
.RegisterForm {
    margin:.2rem;
    display:flex;
    justify-content: center;
}
.RegisterForm input {
    display: flex;
    margin:1.2rem;
}
.Login {
    padding:1.2rem;
    margin:.2rem;
}
.LoginForm {
    display: flex;
    justify-content: center;
    margin:1.2rem;
}
.LoginForm input {
    display: flex;
    margin:1.2rem;
}