.Index {
    background-color: transparent;
}
.App {
    width:95vw;
    margin: 0 auto;
}
.Navbar-Top {
    display:flex;
    margin:.6rem;
    justify-content: space-between;
}
.Navbar-Top nav{
    display:flex;
    margin: 1.2rem;
    align-items: center;
}
.Navbar-Top a{
    color:black;
    border-radius:1rem;
    padding:1rem;
    text-decoration: none;
}
.Navbar-Top a:hover {
    background-color: #dbdbdb;
    /* color:#BB2649; */
    transition: ease-in-out .2s;
}
.Navbar-Top img{
    width:4rem;
}
.Register {
    padding:1.2rem;
    margin:.2rem;
}
.RegisterForm {
    margin:.2rem;
    display:flex;
    justify-content: center;
}
.RegisterForm input {
    display: flex;
    margin:1.2rem;
}
.Login {
    padding:1.2rem;
    margin:.2rem;
}
.LoginForm {
    display: flex;
    justify-content: center;
    margin:1.2rem;
}
.LoginForm input {
    display: flex;
    margin:1.2rem;
}
.CreateMeme {
    margin: 0 auto;
    padding:1rem;
    display:flex;
    justify-content: space-evenly;
    width:80vw;
}
.displayMemeText {
    width:40vw;
    height:10vh;
    font-size: .8rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.inputMemeForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.memeImage img{
    width: 40vw;
    margin-bottom:-4px;
}
.loading img {
    width:4rem;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
    transform:rotate(0deg);
    } 
    /* 50% {
        transform:rotate(180deg);
    } */
    100% {
        transform:rotate(360deg);
    }
}